<footer>
    <div id = "footer-band-div">
        <!-- <div id="address">
            <img src="/images/map-pin-icon.svg" alt=""><p>Delhi, India</p>
        </div> -->
        <div id="copyright">
            <p>® Expert Pest Control Services</p></div>
    </div>
</footer>
</body>
</html>