<form action="/submit" method="post">
    <input type="text" name="customername" placeholder="Name">
    <input type="tel" name="number" placeholder="Contact Number" required>
    <input type="email" name="email" placeholder="Email">
    <input id="button" type="submit" value="OK">
</form>