<%- include("partials/header.ejs") %>
    <section id="head-section">
        <div id = "call-text">
            <div>
                <h1>Request</h1>
                <h1>a call...</h1>  
            </div> 
        </div>
        <div id = "form-div"><%- include("partials/form.ejs") %></div>
    </section>
    <section id = "service-section">
        <div class="sub-heading">
            OUR SERVICES
        </div>
        <div id="services">
            <div class="service">
                    <img src="/images/kitchen-icon.svg" alt="">
                    <p>With our comprehensive <span>cockroach control service</span>, we eliminate these unsightly pests swiftly and effectively, leaving your living spaces clean, hygienic, and free from the nuisance of roaches.</p>
            </div>
            <div class="service">
                <img src="/images/furniture-icon.svg" alt="">
                <p>Our <span>termite control service</span> creates a protective shield around your home's structure, safeguarding it from the silent but destructive invasion of termites, ensuring your property remains strong and resilient.</p>
            </div>
            <div class="service">
                <img src="/images/wake-up-icon.svg" alt="">
                <p>Say goodbye to sleepless nights with our thorough <span>bedbug control service</span>, where we meticulously eradicate bedbugs from your home, ensuring you can rest peacefully without the fear of bites or discomfort.</p>
            </div>
            <div class="service">
                <img src="/images/glow-icon.svg" alt="">
                <p>Our <span>rodent control service</span> goes beyond just trapping pests – we implement strategic measures to prevent rodent infestations, safeguarding your home and belongings from damage and contamination.</p>
            </div>
            <div class="service">
                <img src="/images/save-plant-icon.svg" alt="">
                <p>Enjoy the outdoors without the annoyance of mosquitoes with our specialized <span>mosquito control service</span>, where we create mosquito-free zones using environmentally friendly techniques, ensuring your outdoor experiences are peaceful and enjoyable.</p>
            </div>
            <div class="service">
                <img src="/images/phone-call-icon.svg" alt="">
                <p><span><a href="/contact" style="text-decoration: none; color: #ff5658;">Contact us</a></span> today for all your pest control needs and inquiries, and let our experts provide you with effective solutions for a pest-free environment.</p>
            </div>
            
            
        </div>
    </section>
    <section id = "dyn">
        <div class="sub-heading">
            DID YOU KNOW
        </div>
        <div id="fact-section">
            <div class="fact">
                <img src="/images/house-icon.svg" alt="">
                <p>
                    Regular pest control treatments can improve indoor air quality by eliminating allergens produced by pests.
                </p>
            </div>
            <div class="fact">
                <img src="/images/leaf-icon.svg" alt="">
                <p>
                    Proper pest management practices promote food safety by preventing contamination in food processing.
                </p>
            </div>
            <div class="fact">
                <img src="/images/no-mosquito-icon.svg" alt="">
                <p>
                    Mosquitoes are the deadliest animals on Earth, responsible for millions of deaths each year.
                </p>
            </div>
            <div class="fact">
                <img src="/images/double-bed-icon.svg" alt="">
                <p>
                    Effective pest control helps protect public health by reducing the spread of diseases carried by pests.
                </p>
            </div>
        </div>
    </section>
<%- include("partials/footer.ejs") %>